@model Fliek.Models.Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>@Model.FirstName  @Model.LastName</h2>

<table class="table  table-hover">        
    @if (Model.DateOFBirth != null) {
    <tr>
        <td>Date of Birth: @Model.DateOFBirth</td>
    </tr>
    }
    <tr>
        <td>Subscribed To Newsletter: @Model.IsSuscribedToNewsletter</td>
    </tr>
    <tr>
        <td>Membership Type: @Model.MembershipType.Name</td>
    </tr>
</table>

<div>
    @Html.ActionLink("Back to Customer List", "Index")
</div>